<!-- <div class="text-layout">
    <h1> {{ nombre | titlecase }} </h1>
    <h1> {{ numero | number }} </h1>

    <button 
        pButton 
        class="p-button-help" 
        label="Cambiar Nombre" 
        icon="pi pi-apple" 
        iconPos="right">
    </button>

    <p-card 
        [header]="nombre | titlecase"
        subheader="Soy un segmento del Header">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Porro, facilis, cupiditate non fugiat alias nisi maiores vel ex ipsa quos sequi commodi, iure dolor error velit inventore quaerat quia! Vero.
    </p-card>
</div> -->

<app-menu></app-menu>